@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
}


/*设置最外层大盒子*/

#box {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px solid black;
	/*margin: 50px auto;*/
	/*将图片依次排开，多余部分隐藏掉*/
	overflow: hidden;
}


/*设置ul在右下角*/

#list {
	position: absolute;
	right: 50px;
	bottom: 20px;
	z-index: 2;
}

#list li {
	width: 20px;
	height: 20px;
	border: 1px solid white;
	/*成行显示*/
	float: left;
	/*去掉黑点*/
	list-style: none;
	margin: 0 5px;
}

#imgbox {
	position: absolute;
	height: 100%;
	/*保证图片滑动时，没有缝隙 720*2*/
	width: 100%;
	background: red;
	/*横行排列*/
	float: left;
	left: 0;
	top: 0;
}

#imgbox img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 100%;
	top: 0;
}


/*设置第一张图片*/

#imgbox .first {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}


/*更改指示标的背景颜色*/

.hover {
	background: white;
}

#Menubox{
	position: absolute;
	width: 60%;
	height: 5%;
	top: 3%;
	left: 20%;
}
#Menubox ul {
	list-style: none;
	margin: 7px 40px;
	padding: 20px;
}
#Menubox ul li {
	float: left;
	/*line-height: 20px;*/
	display: block;
	cursor: pointer;
	/*width: 65px;*/
	text-align: center;
	color: white;
	font-weight: bold;
}
.hover{
	background-color: darkgray;
}
#Menubox #menu1,#menu2,#menu3,#menu4,#menu5{
	width: 12%;
	height: 80%;
	border: 2px solid white;
	margin-left: 3%;
	padding: 1%;
}
#Menubox #menu1:hover,#menu2:hover,#menu3:hover,#menu4:hover,#menu5:hover{
	opacity: 0.8;
	background-color: darkgray;
}
#Contentbox #con_menu_2,#con_menu_3,#con_menu_4,#con_menu_5{
	position: absolute;
	width: 80%;
	height: 80%;
	left: 10%;
	top:14%;
	border: 1px solid white;
}


#con_menu_4 #menu4_bg_box{
	width: 38%;
	height: 70%;
	position: relative;
	top:10%;
	left: 10%;
	border: 2px solid white;
	float: left;
}
#con_menu_4 #menu4_bg_box img{
	width: 29%;
	height: 30%;
	border: 2px solid white;
	margin: 1%;
}

#con_menu_4 .menu4_play_box{
	width: 38%;
	height: 50%;
	position: relative;
	top:20%;
	left: 55%;
	border: 2px solid white;
}
#con_menu_4 .menu4_play_box .time_box{
	width: 30%;
	height: 15%;
	border: 2px solid white;
	position: absolute;
	top: 10%;
	left: 10%;
}
#con_menu_4 .menu4_play_box .time_box p{
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	font-size: 24px;
	font-weight: bolder;
	position: relative;
	top:30%;
	left: 20%;
	z-index: 900;
}
#con_menu_4 .menu4_play_box .num_box{
	width: 30%;
	height: 15%;
	border: 2px solid white;
	position: absolute;
	top: 10%;
	left: 60%;
}
#con_menu_4 .menu4_play_box .num_box p{
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	font-size: 24px;
	font-weight: bolder;
	position: relative;
	top:30%;
	left: 20%;
	z-index: 900;
}
#con_menu_4 .menu4_play_box .rank_box{
	width: 80%;
	height: 20%;
	border: 2px solid white;
	position: absolute;
	top: 35%;
	left: 10%;
}
#con_menu_4 .menu4_play_box .rank_box .chu{
	width: 20%;
	height: 48px;
	border-radius: 48px;
	box-shadow: 0 0 0 2px #FFFFFF, 0 2px 5px 4px rgba(0, 0, 0, 0.25);
	position: absolute;
	top: 20%;
	left: 8%;
}
#con_menu_4 .menu4_play_box .rank_box .chu p{
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	font-size: 24px;
	font-weight: bolder;
	position: relative;
	top:20%;
	left: 20%;
	z-index: 900;
}
#con_menu_4 .menu4_play_box .rank_box .zhong{
	width: 20%;
	height: 48px;
	border-radius: 48px;
	box-shadow: 0 0 0 2px #FFFFFF, 0 2px 5px 4px rgba(0, 0, 0, 0.25);
	position: absolute;
	top: 20%;
	left: 40%;
}
#con_menu_4 .menu4_play_box .rank_box .zhong p{
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	font-size: 24px;
	font-weight: bolder;
	position: relative;
	top:20%;
	left: 20%;
	z-index: 900;
}
#con_menu_4 .menu4_play_box .rank_box .gao{
	width: 20%;
	height: 48px;
	border-radius: 48px;
	box-shadow: 0 0 0 2px #FFFFFF, 0 2px 5px 4px rgba(0, 0, 0, 0.25);
	position: absolute;
	top: 20%;
	left: 72%;
}
#con_menu_4 .menu4_play_box .rank_box .gao p{
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	font-size: 24px;
	font-weight: bolder;
	position: relative;
	top:20%;
	left: 20%;
	z-index: 900;
}
#con_menu_4 .menu4_play_box .on_box_start{
	width: 30%;
	height: 60px;
	border-radius: 60px;
	box-shadow: 0 0 0 2px #FFFFFF, 0 2px 5px 4px rgba(0, 0, 0, 0.25);
	position: absolute;
	top: 70%;
	left: 15%;
}
#con_menu_4 .menu4_play_box .on_box_start p{
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	font-size: 24px;
	font-weight: bolder;
	position: relative;
	top:15px;
	left: 20%;
	z-index: 900;
}
#con_menu_4 .menu4_play_box .on_box_over{
	width: 30%;
	height: 60px;
	border-radius: 60px;
	box-shadow: 0 0 0 2px #FFFFFF, 0 2px 5px 4px rgba(0, 0, 0, 0.25);
	position: absolute;
	top: 70%;
	left: 55%;
}
#con_menu_4 .menu4_play_box .on_box_over p{
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	font-size: 24px;
	font-weight: bolder;
	position: relative;
	top:15px;
	left: 20%;
	z-index: 900;
}
#copyright {
	position: absolute;
	left: 40%;
	bottom: 1%;
	overflow: hidden;
	margin: 0% auto;
	border: 2px solid white;
	z-index: 2;
}

#copyright .text {
	color: whitesmoke;
	font-size: 16px;
	margin: auto auto;
}

.top_bar {
	position: fixed;
	top: 6%;
	right: 15%;
	z-index: 900;
}

.plug-menu {
	-webkit-appearance: button;
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	position: absolute;
	right: 10px;
	z-index: 999;
	box-shadow: 0 0 0 3px #FFFFFF, 0 2px 5px 4px rgba(0, 0, 0, 0.25);
	-webkit-transition: -webkit-transform 100ms;
	background-size: 80% auto;
	background-position: center center;
}

.plug-menu:checked {
	-webkit-transform: rotate(45deg);
}


.top_menu>li {
	min-width: 86px;
	padding: 0 10px;
	height: 32px;
	border-radius: 32px;
	box-shadow: 0 0 0 3px #FFFFFF, 0 2px 5px 3px rgba(0, 0, 0, 0.25);
	margin-bottom: 23px;
	margin-left: 100px;
	z-index: 900;
	transition: all 200ms ease-in-out;
	-webkit-transition: all 200ms ease-in-out;
}

.top_menu>li a {
	color: #fff;
	font-size: 20px;
	display: block;
	height: 100%;
	line-height: 33px;
	text-indent: 26px;
	text-decoration: none;
	position: relative;
	font-size: 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.top_menu>li.on:nth-of-type(1) {
	-webkit-transform: translate(200px, 0) rotate(0deg);
	transition: all 700ms ease-out;
	-webkit-transition: all 700ms ease-out;
}

.top_menu>li.on:nth-of-type(2) {
	-webkit-transform: translate(150px, 0) rotate(0deg);
	transition: all 600ms ease-out;
	-webkit-transition: all 600ms ease-out;
}

.top_menu>li.on:nth-of-type(3) {
	-webkit-transform: translate(100px, 0) rotate(0deg);
	transition: all 500ms ease-out;
	-webkit-transition: all 500ms ease-out;
}

.top_menu>li.on:nth-of-type(4) {
	-webkit-transform: translate(50px, 0) rotate(0deg);
	transition: all 400ms ease-out;
	-webkit-transition: all 400ms ease-out;
}

.top_menu>li.out:nth-of-type(1) {
	-webkit-transform: translate(45px, 280px) rotate(0deg);
	transition: all 1000ms ease-in-out;
	-webkit-transition: all 1000ms ease-in-out;
}

.top_menu>li.out:nth-of-type(2) {
	-webkit-transform: translate(45px, 235px) rotate(0deg);
	transition: all 800ms ease-in-out;
	-webkit-transition: all 800ms ease-in-out;
}

.top_menu>li.out:nth-of-type(3) {
	-webkit-transform: translate(45px, 190px) rotate(0deg);
	transition: all 600ms ease-in-out;
	-webkit-transition: all 600ms ease-in-out;
}

.top_menu>li.out:nth-of-type(4) {
	-webkit-transform: translate(45px, 145px) rotate(0deg);
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
}

.top_menu>li.out {
	width: 20px;
	height: 20px;
	min-width: 20px;
	border-radius: 20px;
	padding: 0;
	opacity: 0;
}

.top_menu>li.out a {
	display: none;
}

#musicbtn{
	width: 63px;
	height: 46px;
	position: absolute;
	left: 40px;
	top: 50px;
	z-index: 999;
}



.player {
	background: #2a2a2a;
	box-sizing: border-box;
	border-radius: 5px;
	height: 70px;
	-moz-box-sizing: border-box;
	float: left;
	font-family: Arial, sans-serif;
	position: absolute;
	padding: 0;
	bottom: 20px;
	z-index: 2;
	opacity: 1;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	-webkit-transition: opacity 0.3s ease-in;
	transition: opacity 0.3s ease-in;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.video {
	position: relative;
	margin: 0px auto;
}

.video:hover .player {
	opacity: 1;
}

.player .progress {
	width: 60%;
	height: 20px;
	border-radius: 5px;
	background: #676767;
	box-shadow: inset 0 -5px 10px rgba(0,0,0,0.1);
	float: left;
	cursor: pointer;
	margin: 24px 0 0 0;
	padding: 0;
	position: relative;
	font-variant: normal;
}

.player .progress-bar {
	background: #33b5d5;
	box-shadow: inset -30px 0px 69px -20px #89f6f5;
	border-radius: 5px;
	height: 100%;
	position: relative;
	z-index: 999;
	width: 0;
}

.player .button-holder {
	position: relative;
	left: 10px;
}

.player .progress-button {
	background: #fff;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	border-radius: 30px;
	width: 20px;
	height: 20px;
	position: absolute;
	left: -20px;
	text-decoration: overline;
}


.player [class^="buffered"] {
	background: rgba(255,255,255,0.1);
	position: absolute;
	top: 0;
	left: 30px;
	height: 100%;
	border-radius: 5px;
	z-index: 1;
}

.player .play-pause {
	display: inline-block;
	font-size: 3em;
	float: left;
	text-shadow: 0 0 0 #fff;
	color: rgba(255,255,255,0.8);
	width: 10%;
	padding: 17px 0 0 3%;
	cursor: pointer;
	font-variant: small-caps;
}

.player .play, .player .pause-button {
	-webkit-transition: all 0.2s ease-out;
}

.player .play .pause-button, .player .pause .play-button {
	display: none;
}

.player .pause-button {
	padding: 5px 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 34px;
}

.player .pause-button span {
	background: #fff;
	width: 8px;
	height: 24px;
	float: left;
	display: block;
}

.player .pause-button span:first-of-type {
	margin: 0 4px 0 0;
}

.player .time {
	color: #fff;
	font-weight: bold;
	font-size: 1.2em;
	position: absolute;
	right: 0;
	top: 24px;
}

.player .stime, .ttime {
	color: #444;
}
.player .play:hover {
	text-shadow: 0 0 5px #fff;
}

.player .play:active, .pause-button:active span {
	text-shadow: 0 0 7px #fff;
}


.player .pause-button:hover span {
	box-shadow: 0 0 5px #fff;
} .player .pause-button:active span {
	box-shadow: 0 0 7px #fff;
}


.player .volume {
	position: relative;
	float: left;
	width: 8%;
	margin: 0 0 0 4%;
	height: 100%;
}

.player .volume-icon {
	padding: 1.5%;
	height: 100%;
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-transition: all 0.15s linear;
}

.player .volume-icon-hover {
	background-color: #4f4f4f;
}

.player .volume-holder {
	height: 100px;
	width: 100%;
	background: black;
	position: absolute;
	display: none;
	background: #4f4f4f;
	left: 0;
	border-radius: 5px 5px 0 0;
	top: -100px;
}

.player .volume-bar-holder {
	background: #333;
	width: 20px;
	box-shadow: inset 0px 0px 5px rgba(0,0,0,0.3);
	margin: 15px auto;
	height: 80px;
	border-radius: 5px;
	position: relative;
	cursor: pointer;
}

.player .volume-button {
	background: #fff;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	border-radius: 30px;
	width: 20px;
	height: 20px;
}

.player .volume-button-holder {
	position: relative;
	top: -10px;	
}

.player .volume-bar {
	background: #33b5d5;
	box-shadow: inset -30px 0px 69px -20px #89f6f5;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
}

.player .fullscreen {
	width: 12%;
	cursor: pointer;
	float: left;
	height: 100%;
}

.player .fullscreen a {
	width: 25px;
	height: 20px;
	border-radius: 3px;
	background: #fff;
	display: block;
	position: relative;
	top: 23px;
	margin: 0px auto;
}

.player .volume-icon span {
	width: 20%;
	height: 13%;
	background-color: #fff;
	display: block;
	position: relative;
	z-index: 1;
	font-weight: bold;
	top: 40%;
	color: #fff;
	left: 22%;
}

.player .volume-icon span:before,
.player .volume-icon span:after {
	content: '';
	position: absolute;
}
.player .volume-icon span:before {
	width: 0;
	height: 0;
	border: 1em solid transparent;
	border-left: none;
	border-right-color: #fff;
	z-index: 2;
	top: -2px;
	left: 10%;
	margin-top: -40%;
}
.player .volume-icon span:after {
	width: 2%;
	height: 2%;
	border: 1px solid #fff;
	left: 190%;
	border-width: 0px 0px 0 0; 
	top: 5px;
	border-radius: 0 50px 0 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	 transform: rotate(45deg);
	 font-variant: small-caps;
 }

.player .v-change-11 span:after { border-width: 10px 10px 0 0; top: 0; }
.player .v-change-10 span:after { border-width: 9px 9px 0 0; top: 1px; }
.player .v-change-9 span:after { border-width: 8px 8px 0 0; top: 1px; }
.player .v-change-8 span:after { border-width: 7px 7px 0 0; top: 2px; }
.player .v-change-7 span:after { border-width: 6px 6px 0 0; top: 2px; }
.player .v-change-6 span:after { border-width: 5px 5px 0 0; top: 3px; }
.player .v-change-5 span:after { border-width: 4px 4px 0 0; top: 3px; }
.player .v-change-4 span:after { border-width: 3px 3px 0 0; top: 4px; }
.player .v-change-3 span:after { border-width: 2px 2px 0 0; top: 4px; }
.player .v-change-2 span:after { border-width: 1px 1px 0 0; top: 5px; }
.player .v-change-1 span:after { border-width: 0px 0px 0 0; top: 5px; }

.player .v-change-1 span:after {
	content: '+';
	-webkit-transform: rotate(45deg);
	font-size: 20px;
	top: -6px;
	left: 25px;
}

/* ------- IGNORE */

#header {
	width: 100%;
	margin: 0px auto;
}

#header #center {
	text-align: center;
}

#header h1 span {
	color: #000;
	display: block;
	font-size: 50px;
}

#header p {
	font-family: 'Georgia', serif;
}
#header h1 {
	color: #892dbf;
	font: bold 40px 'Bree Serif', serif;
}

#travel {
	padding: 10px;
	background: rgba(0,0,0,0.6);
	border-bottom: 2px solid rgba(0,0,0,0.2);
	font-variant: normal;
	text-decoration: none;
}

#travel a {
	font-family: 'Georgia', serif;
	text-decoration: none;
	border-bottom: 1px solid #f9f9f9;
	font-size: 20px;
	color: #f9f9f9;
}

.container {
	padding: 40px 0 0 0;
}




#con_menu_2{
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #ccc;
	/*background-size: 100% 100%;*/
	animation: bgtu 4s linear infinite;
}
figure{
	width: 31.3%;
	height: 46%;
	float: left;
	margin: 1%;
	overflow: hidden;
	position: relative;
	/*animation: bgtu 4s linear infinite;*/
}
@keyframes bgtu{
	0%{background: url(../img/7.jpg) no-repeat;background-size: 100% 100%;}
	25%{background: url(../img/8 .jpg) no-repeat;background-size: 100% 100%;}
	50%{background: url(../img/9.jpg) no-repeat;background-size: 100% 100%;}
	75%{background: url(../img/10.jpg) no-repeat;background-size: 100% 100%;}
	100%{background: url(../img/11.jpg) no-repeat;background-size: 100% 100%;}
	 
}
#con_menu_2 img{
	width: 100%;
	height: 100%;
}
#con_menu_2 img:hover{
	opacity: 0.5;
}



h1{
	position: absolute;
	font-size: 50px;
	/*background: rbga(50 50 50 0.8);*/
	right: 10%;
	top: 20%;
	color: white;
	transform:  rotate(0) translateY(450px);
	opacity: 0;
	transition: all 3s;
}
figure:hover h1{
	transform: rotate(360deg) translateY(0) ;
	/*background: rbga(50 50 50 0.6);*/
	opacity: 1;
}
.info{
	position: absolute;
	width: 80%;
	height: 2%;
}

#view1 .p1{
	top: 40%;
	left: 5%;
	color: palegoldenrod;
	transform: translateX(-500px);
	opacity: 0;
	transition: all 3s;
} 
#view1:hover .p1{
	transform: translateX(0);
	opacity: 1;
}
#view1 .p2{
	top: 50%;
	left: 8%;
	color: palegoldenrod;
	transform: translateX(-700px);
	opacity: 0;
	transition: all 5s;
}
#view1:hover .p2{
	transform: translateX(0);
	opacity: 1;
}
#view1 .p3{
	top: 60%;
	left: 11%;
	color: palegoldenrod;
	transform: translateX(-900px);
	opacity: 0;
	transition: all 7s;
}
#view1:hover .p3{
	transform: translateX(0);
	opacity: 1;
}
/*--------------------------view2---------------------------------------------*/
#view2 img{
	transform: rotate(0);
	transition: all 3s;
}
#view2:hover img{
	transform: rotate(360deg);
}
#view2 h2{
	position: absolute;
	bottom: 15%;
	right: 5%;
	font-size: 40px;
	color: white;
	transform: translateY(300px);
	opacity: 0;
	transition: all 3s;
}
#view2:hover h2{
	transform: translateY(0);
	opacity: 1;
}
#view2 p{
	position: absolute;
	text-align: center;
	width: 85%;
	height: 10%;
	top: 55%;
	left: 2%;
	color: red;
	font-weight: bolder;
	transform: rotate(0);
	transition: all 3s;
	opacity: 0;
}
#view2:hover p{
	transform: rotate(-30deg);
	opacity: 1;
}
.sbox{
	position: absolute;
	width:140%;
	height: 100%;
	/*padding-left: -200px;*/
	color: white;
	background-color: palegreen;
	opacity: 0.5;
	/*transition-delay: 3s;*/
	transform: rotate(0);
	transition: all 2s;
}
#view2:hover .sbox{
	transition-delay: 1s;
	transform: rotate(-40deg);
}
/*--------------------------view3---------------------------------------------*/
#view3:hover img{
	animation: img3 4s linear infinite;
}
@keyframes img3{
	from{transform: translateX(-5%);}
	25%{transform: translateX(0);}
	50%{transform: translateX(5%);}
	75%{transform: translateX(0);}
	to{transform: translateX(-5%);}
}
#view3 h3{
	position: absolute;
	font-size: 30px;
	right: 10%;
	top: 5%;
	color: white;
}
#view3:hover h3{
	animation: hh3 3s linear infinite;
}
@keyframes hh3{
	from{transform: translateX(-30%);}
	25%{transform: translateX(0);}
	50%{transform: translateX(30%);}
	75%{transform: translateX(0);}
	to{transform: translateX(-30%);}
}
#view3 p{
	position: absolute;
	bottom: 10%;
	left: 20%;
	right: 20%;
	color: springgreen;
	transform: translateY(300px);
	opacity: 0;
	transition: all 2s;
}
#view3:hover p{
	transform: translateY(0);
	opacity: 1;
}
#view3 .sbox2{
	position: absolute;
	width: 65%;
	height: 40%;
	left: 17.5%;
	opacity: 0;
	/*color: white;*/
	/*transform: rotate(0);*/
	border: 2px solid white;
	transition: all 3s;
}
#view3:hover .sbox2{
	transform: rotate(360deg) translateY(-108%);
	opacity: 1;
}
/*--------------------------view4---------------------------------------------*/
 
#view4 h4{
	position: absolute;
	/*z-index: 99;*/
	bottom: 10%;
	right: 10%;
	font-size: 30px;
	color: white;
	opacity: 0;
	transform: translateY(200px);
	transition: all 3s;
}
figure:hover h4{
	
	transform: translateY(0);
	opacity: 1;
}
#view4 .sbox3{
	width: 0;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 10%;
	/*transform: translateY(0%);*/
	border: 2px solid white;
	transform: rotate(-45deg);
	border-top: none;
	border-bottom: none;
	transition: all 2s;
	opacity: 0;
}
#view4:hover .sbox3{
	width: 80%;
	opacity: 0.5;
	 
}
#view4 .sbox4{
	width:80%;
	height: 0;
	position: absolute;
	top: 10%;
	left: 10%;
	/*transform: translateY(0%);*/
	border: 2px solid white;
	transform: rotate(45deg);
	border-left: none;
	border-right: none;
	transition: all 2s;
	opacity: 0;
}
#view4:hover .sbox4{
	height: 80%;
	opacity: 0.5;
	 
}

#view5:hover img{
	animation: img5 6s linear 1;
}
@keyframes img5{
	from{transform: scale(1.5);}
	25%{transform: scale(1);}
	50%{transform: scale(1.2);}
	75%{transform: scale(0.6);}
	to{transform: scale(1);}
}
#view5 .p1{
	position: absolute;
	top: 20%;
	right: 5%;
	color: palegoldenrod;
	font-size: 130%;
	opacity: 0;
	transition: all 3s;
}
#view5:hover .p1{
	animation: pp1 7s linear 1;
	transition-delay: 1s;
	opacity: 1;
}
@keyframes pp1{
	from{transform: translateX(500px);}
	33.3%{transform: translateX(0);}
	66.6%{transform: translateX(-500px);}
	to{transform: translateX(0);}
}
#view5 .p2{
	position: absolute;
	bottom: 35%;
	left: 5%;
	font-size: 170%;
	color: paleturquoise;
	opacity: 0;
	transition: all 3S;
	 
}
figure:hover .p2{
	animation: pp2 4s 1;
	opacity: 1;
}
@keyframes pp2{
	from{transform: scale(1.2);}
	50%{transform: scale(0.6);}
	to{transform: scale(1);}
}
#view5 h5{
	position: absolute;
	bottom: 10%;
	right: 20%;
	font-size: 30px;
	color: palegreen;
	opacity: 0;
	transition: all 3s;
}
figure:hover  h5{
	opacity: 1;
	animation: hh5 3s 1;
	
}
@keyframes hh5{
	from{transform: rotate(0);}
	to{transform: rotate(360deg);}
}
#view6 .ssbox1{
	position: absolute;
	top: 10%;
	left: 10%;
	width: 25%;
	height: 5%;
	text-align: center;
	/*padding-top: 20%;*/
	border: 2px solid palegoldenrod;
	opacity: 0;
	transition: all 3s; 
}
#view6 p{
	color: deeppink;
}
figure:hover .ssbox1{
	opacity: 1;
}
#view6 .ssbox2{
	position: absolute;
	top: 25%;
	left: 30%;
	width: 35%;
	height: 5%;
	text-align: center;
	/*padding-top: 20%;*/
	border: 2px solid palegreen;
	opacity: 0;
	transition: all 3s; 
}
#view6:hover .ssbox2{
	opacity: 1;
	transition-delay: 1s;
}
#view6 .ssbox3{
	position: absolute;
	top: 45%;
	left: 30%;
	width: 45%;
	height: 5%;
	text-align: center;
	/*padding-top: 20%;*/
	border: 2px solid paleturquoise;
	opacity: 0;
	transition: all 3s; 
}
#view6:hover .ssbox3{
	opacity: 1;
	transition-delay: 2s;
}
#view6 .ssbox4{
	position: absolute;
	bottom: 25%;
	left: 10%;
	width: 45%;
	height: 5%;
	text-align: center;
	/*padding-top: 20%;*/
	border: 2px solid palevioletred;
	opacity: 0;
	transition: all 3s; 
}
#view6:hover .ssbox4{
	opacity: 1;
	transition-delay: 3s;
}




#con_menu_3 #content3{
	position: relative;
	width: 80%;
	height: 90%;
	top: 5%;
	/*margin: 0 auto;*/
	left: 10%;
	border: 2px solid white;
	background-color: #404446;
}
#box1{
	width: 100%;
	/*left: 2%;*/
	height: 5%;
	background-color: #4c4f50;
}
#box1 a{
	/*position: absolute;*/
	float: left;
	width: 16.6%;
	font-weight: bolder;
	height: 3%;
	padding-top: 1%;
	/*border: 1px solid black;*/
	color: white;
	text-decoration: none;
	text-align: center;
}
#box2{
	position: relative;
	width: 98%;
	height: 35%;
	/*top: 3%;*/
	margin: 1% auto;
	/*background-color: #4c4f50;*/
}
#box2 .sbox1{
	 position: absolute;
	width: 100%;
	height: 30.1%;
	background-color: #4c4f50;
}
#box2 .sbox1 img{
	position: absolute;
	float: left;
	width: 20%;
	height: 100%;
}
#box2 .sbox1 h1{
	position: absolute;
	float: left;
	width: 50%;
	left: 25%;
	/*font-size: 80%;*/
	top: 7%;
	color: #f7cc04;
}
#box2 .sbox1 h2{
	position: absolute;
	/*float: left;*/
/*	width: 50%;*/
	left: 25%;
	/*font-size: 80%;*/
	bottom: 5%;
	color: white;
}
#box2 .sbox1 .ssbox1{
	background-color:  #404446;
	position: absolute;
	width: 20%;
	height: 50%;
	float: right;
	right: 10%;
	top: 15%;
	padding-top: 1%;
	border: 2px solid white;
	text-align: center;
}
#box2 .sbox1 .ssbox1 a{
	
	color: white;
	font-weight: bolder;
	text-decoration: none;
}
#box2 .sbox2{
	position: absolute;
	width: 100%;
	height: 69.1%;
	top: 32.1%;
	background-color: #F7CC04;
	
	
}
#box2 .sbox2 img{
	position: absolute;
	width: 22%;
	height: 98%;
	left: 0.5%;
	float: left;
	top: 1%;
}
#box2 .sbox2 p{
	/*position: absolute;*/
	width: 50%;
	float: left;
	height: 6%;
	/*top: 1%;
	bottom: 1%;*/
	margin: 0.5% 30%;
 
	
}

#box3{
	position: relative;
	width: 98%;
	height: 20%;
	left: 1%;
	background-color: #083049;
}
#box3 .sbox1{
	position: absolute;
	width: 100%;
	height: 20%;
	float: left;
	background-color: #F7CC04;
}
#box3 .sbox1 h{
	position: absolute;
	top: 15%;
	left: 2%;
	color: white;
	height: 18px;
	font-weight: bolder;
}
#box3 .sbox2{
	position: absolute;
	width: 100%;
	height: 80%;
	top: 26%;
	float: left;
	background-color: #000000;
}
#box3 .sbox2 p{
	position: absolute;
	width: 100%;
	height: 20%;
	left: 7%;
	top: 5%;
	color: #404446;
}
#box3 .sbox2 img{
	position: absolute;
	width: 98%;
	height: 60%;
	bottom: 7%;
	left: 1%;
}
#box4{
	position: relative;
	width: 98%;
	height: 32%;
	top: 2%;
	left: 1%;
	/*background-color: #F7CC04;*/
}
#box4 .sbox1{
	position: absolute;
	width: 48%;
	height: 100%;
	background-color: #083049;
}
#box4 .sbox1 .ssbox1{
	position: absolute;
	width: 96%;
	left: 2%;
	top: 1%;
	height: 15%;
	float: left;
	background-color: #F7CC04;
}
#box4 .sbox1 .ssbox1 h{
	position: absolute;
	top: 15%;
	left: 2%;
	color: white;
	height: 18px;
	font-weight: bolder;
}
#box4 .sbox1 .ssbox1 a{
	position: absolute;
	float: right;
	right: 2%;
	top: 15%;
	text-decoration: none;
}
#box4 .sbox1 .ssbox2{
	width: 96%;
	height: 30%;
	top: 17%;
	left: 2%;
	position: absolute;
	background-color: #F7CC04;
}
#box4 .sbox1 .ssbox2 img{
	position: absolute;
	/*float: left;*/
	width: 46%;
	height: 98%;
	top: 1%;
	/*left: 1%;*/
}
#box4 .sbox1 .ssbox2  .pic1{
	left: 1%;
}
#box4 .sbox1 .ssbox2 .pic2{
	right: 1%;
}
#box4 .sbox1 .ssbox3{
	position: absolute;
	width: 96%;
	height: 50%;
	left: %;
	top: 48%;
	background-color: #F7CC04;
	left: 2%;
} 
#box4 .sbox1 .ssbox3 a{
	/*padding-top: 10%;*/
	 color: #404446;
	 position: absolute;
	left: 10%;
} 
#box4 .sbox2{
	position: absolute;
	width: 48%;
	height: 100%;
	right: 1%;
	background-color: #083049;
}
#box4 .sbox2 .ssbox1{
	position: absolute;
	width: 96%;
	right: 2%;
	top: 1%;
	height: 15%;
	float: left;
	background-color: #F7CC04;
}
#box4 .sbox2 .ssbox1 h{
	position: absolute;
	top: 15%;
	left: 2%;
	color: white;
	height: 18px;
	font-weight: bolder;
}
#box4 .sbox2 .ssbox1 a{
	position: absolute;
	float: right;
	right: 2%;
	top: 15%;
	text-decoration: none;
}
#box4 .sbox2 .ssbox2{
	width: 96%;
	height: 80%;
	top: 19%;
	left: 2%;
	position: absolute;
	background-color: #F7CC04;
}
#box4 .sbox2 .ssbox2 img{
	position: absolute;
	/*float: left;*/
	width: 60%;
	height: 80%;
	top: 5%;
	left: 20%;
}
#box4 .sbox2 .ssbox2 a{
	right: 6%;
	text-decoration: none;
	bottom: 2%;
	color: #4C4F50;
	font-size: 80%;
	position: absolute;
}
/*.box4 .sbox2 .ssbox2 p{
	top: 20%;
	left: 50%;
	/*margin: 2% 40%;*/
	/*color: #4C4F50;
	font-size: 80%;
	position: absolute;
}*/
/*.box4 .sbox2 .ssbox3{
	
	position: absolute;
	width: 96%;
	height: 50%;
	/*left: %;*/
	/*top: 48%;*/
	/*background-color: palegreen;*/
	/*left: 2%;*/
    /*float: right;*/
/*}*/
#con_menu_3 .a1:hover{
	transform: scale(1.4);
}
#con_menu_3 .a2:hover{
	transform: scale(1.4);
}
#con_menu_3 .a3:hover{
	transform: scale(1.4);
}
#con_menu_3 .a4:hover{
	transform: scale(1.4);
}
#con_menu_3 .a5:hover{
	transform: scale(1.4);
}
#con_menu_3 .a6:hover{
	transform: scale(1.4);
}
